#hero-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#hero-logo {
    position: absolute;
    width: 40%;
    top: 57.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: opacity(0);
    transition: 0.5s;
}

#hero-banner:hover > #hero-logo {
    filter: opacity(1);
}

#hero-banner {
    position: relative;
    border-bottom: 0.25rem solid #000000;
}

section {
    margin: 10rem auto;
}

section h2 {
    font-family: 'Montserrat', Montserrat-Offline, sans-serif;
    letter-spacing: .5rem;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    z-index: 1;
}

section video {
    border:  0.25rem solid #000000;
    box-sizing: content-box;
    z-index: 1;
    width: 60%;
}

.flexbox-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

article {
    position: relative;
    display: grid;
    background-color: #ffffff;
    height: 30rem;
    width: 30rem;
    display: block;
    border: 0.25rem solid #000000;
}

article img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-right: 0.25rem solid #000000;
}

article.item1 img {
    object-position: 65% 100%;
}
article.item2 img {
    object-position: 30% 100%;
}
article.item3 img {
    object-position: 20% 100%;
}
article.item4 img {
    object-position: 47.5% 100%;
}
article.item5 img {
    object-position: 35% 100%;
}

article div.band-member {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: 0.5s;
    overflow: auto;
}

article div.band-member:hover {
    color: #ffffff;
    background-color: #000000;
}

div.band-member:hover a {
    color: #ffffff;
}

div.band-member a:hover {
    text-decoration: underline;
}

.band-member h3 {
    font-family: 'Montserrat', Montserrat-Offline, sans-serif;
    font-size: 2.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.band-member p {
    font-family: 'Montserrat', Montserrat-Offline, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.band-member a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', Montserrat-Offline, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: 0.5s;
}

.band-member {
    transition: text-decoration 0.5s;
}

/* mali LAPTOP i cudni TABLETI(iPad Air, Surface Pro 7) */
@media screen and (max-width: 1024px) {
    article {
        width: 24rem;
    }

    .band-member h3{
        font-size: 2.25rem;
    }

    .band-member a {
        font-size: 1.25rem;
    }

}

/* TABLET prikaz */
@media screen and (max-width: 768px) {

    section {
        margin: 4rem auto;
    }

    section video{
        width: 92%;
    }

    #hero-logo {
        filter: opacity(1);
    }

    article {
        width: 20rem;
    }

    .band-member h3{
        font-size: 1.7rem;
    }

    .band-member a {
        font-size: 1rem; 
        font-weight: bold;
    }
    
    section h2 {
        font-size: 4.5rem;
    }
}


/* MOBILNI prikaz */
@media screen and (max-width: 425px) {

    section {
        margin: 2rem auto;
    }

    section h2 {
        font-size: 2rem;
    }
    
}

/* Galaxy Fold  */
@media screen and (max-width: 280px) {

    .band-member h3{
        font-size: 1.5rem;
    }

    .band-member p {
        font-size: 0.8rem;
    }

    .band-member a {
        font-size: 0.8rem;
    }
    
}



section form {
    border: 0.25rem solid #000000;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Montserrat', Montserrat-Offline, sans-serif;
    font-size: 3.15rem;
    font-weight: 500;
}

textarea {
    resize: none;
}

section form input, section form select {
    text-align: center;
}

section form label:first-child {
    margin-top: 1rem;
}

section form label {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

section form input[type="text"] {
    text-transform: capitalize;
}

section form input, section form select, section form textarea {
    padding: 0.5rem;
    border: 0.25rem solid #000000;
    width: 90%;
    font-family: 'Oswald', Oswald-Offline, sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 5rem;
}

section form input[type="submit"] {
    width: 40%;
    transition: 0.5s;
    text-transform: uppercase;
}

section form input[type="submit"]:hover {
    width: 90%;
    color: #ffffff;
    background-color: #000000;
}