* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#particles-js {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

/* Fontovi */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@300&display=swap');
@font-face {
    font-family: Oswald-Offline;
    src: url(../Fontovi/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montserrat-Offline;
    src: url(../Fontovi/Montserrat-VariableFont_wght.ttf);
}


/* scrollbar/slijder sa codepen-a (https://codepen.io/GhostRider/pen/oNvoNv) */

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

/* scrollbar/slijder sa codepen-a:end */


li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    border-bottom: 0.25rem solid #000000;
    z-index: 999;
    background-color: #ffffff;
    transition: 0.3s;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.nav-menu, .nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-item:last-child {
    margin-right: 1rem;
}

.nav-item a {
    padding: 0.5rem;
}

.nav-link {
    color: #000000;
    font-family: 'Oswald', Oswald-Offline, sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    cursor: pointer;
}

header:hover {
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.5);
}

#logo {
    width: 5rem;
}



.nav-logo span {
    display: block;
    float: right;
    width: 15rem;
    margin-right: auto;
    margin-left: 0.5rem;
    color: #000000;
    font-family: 'Montserrat', Montserrat-Offline, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

/* Podvlacenje teksta - codepen (https://codepen.io/argyleink/details/poEjvpd) */
@media screen and (min-width: 769px) {

    .highlight {
        position: relative;
        transition: color 0.3s ease;
    }

    .highlight:hover {
        color: #ffffff;
    }

    .highlight::before {  
        transform: scaleY(0);
        transform-origin: top center;
    }

    .highlight:hover::before {
        transform: scaleY(1);
        transform-origin: top center;
    }

    .highlight::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 -0.25em 0 -0.25em;
        background: rgb(0, 0, 0);
        z-index: -1;
        transition: transform 0.3s ease;
    }
}
/* Podvlacenje teksta - codepen:end */



footer {
    background-color:#ffffff !important;
    border-top: 0.25rem solid #000000;
    position: relative;
}

.foot-list, .foot-item a {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foot-item {
    list-style: none;
    margin-right: 0.5rem;
}

.foot-item:first-child {
    text-decoration: none;
    color: #000000;
    font-family: 'Oswald', Oswald-Offline, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    margin-right: auto;
}

.foot-item a svg {
    height: 2em;
}


/* TABLET prikaz - HAMBURGER menu */
@media screen and (max-width: 768px) {

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 6.15rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.7);
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: auto 0;
        padding: 2.5rem 0;
        width: 100%;
        border-bottom: 0.25rem solid #000000;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }



    header:hover {
        box-shadow: none;
    }

    .nav-link {
        font-size: 2rem;
        display: block;
    }
    .nav-item:last-child {
        margin-right: 0;
    }
}


/* MOBILNI prikaz */
@media screen and (max-width: 425px) {

    .nav-menu {
        top: 4.25rem;
    }

    .foot-item {
        margin-right: 0;
    }

    .foot-item:first-child {
        font-size: .75em;
    }

    .foot-item a svg {
        height: 1em;
    }

    .nav-logo span {
        width: 9rem;
        font-size: 1.2rem;
    }

    #logo {
        width: 2.5rem;
    }
    
}